:root {
  --bg-black: #0a0a0a;
  overflow: hidden;
}

.terminal-screen {
  height: 100vh;
  background-color: var(--bg-black);
  color: var(--main-color);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.terminal-screen, .terminal-window {
  text-shadow: 0 0 8px var(--main-color);
}

.scanlines {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 10;
}

.terminal-window {
  width: 80%;
  max-width: 900px;
  border: 2px solid var(--main-color);
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.terminal-header {
  background: var(--main-color);
  color: black;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-shadow: none;
}

.terminal-content {
  padding: 30px;
  min-height: 400px;
}

.terminal-nav ul { list-style: none; padding: 0; }
.terminal-nav li { margin: 10px 0; }
.terminal-nav a, .back-link, .sound{
  color: var(--main-color);
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
}

.terminal-nav a:hover, .back-link:hover, .sound:hover{
  background: var(--main-color);
  color: black;
  text-shadow: none;
  cursor: pointer;
}


.color-picker {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sound-picker {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.dot {
  width: 20px; height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.green { background: #00FF41; }
.amber { background: #FFB000; }
.cyan { background: #00FFFF; }
.red { background: #FF3131; }
.purple {background: #a800ba;}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.blink {
  animation: blink-text 0.5s infinite;
  font-weight: bold;
}

@keyframes blink-text {
  50% { opacity: 0; }
}

.progress-bar {
  width: 250px;
  height: 10px;
  border: 1px solid var(--main-color);
  margin-top: 20px;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: var(--main-color);
  width: 0%;
  animation: fill 1.5s linear;
}

@keyframes fill {
  0% { width: 0%; }
  100% { width: 100%; }
}

.view-content h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-color);
  display: inline-block;
}

.sobreform{
  display: flex;
  flex-direction: initial;
}

.game1, .game2, .game3{
  padding: 10px;
  border: 3px solid  var(--main-color);
  margin: 10px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.game1:hover, .game2:hover, .game3:hover{
  background-color: var(--main-color);
}
.game1{
  background-image: url(./img/em-breve.png);
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width:  70px;
  height: 70px;
  background-size: 80%;
}
.game2{
  background-image: url(./img/velha2.png);
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width:  70px;
  height: 70px;
  background-size: 80%;
}

.game3{
  background-image: url(./img/snake.png);
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width:  70px;
  height: 70px;
  background-size: 80%;
}


.minhafoto{
  background-image: url(./img/foto.jpeg);
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width:  200px;
  height: 200px;
  background-size: 100%;
  border: 3px solid  var(--main-color);
  margin: 10px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}







.skill {
  display: flex;
  flex-direction: initial;
  align-items: left;
  justify-content: center;
  font-weight: bold;
  gap: 50px;
}

@keyframes blink-text {
  50% { opacity: 0; }
}

#progress-barra {
  width: 250px;
  height: 10px;
  border: 1px solid var(--main-color);
  margin-top: 0px;
  position: relative;
  margin-bottom: 20px;
}

.progress-prenchimento1, .progress-prenchimento2, .progress-prenchimento3, .progress-prenchimento4, .progress-prenchimento5, .progress-prenchimento6, .progress-prenchimento7{
  height: 100%;
  background-color: var(--main-color);
  width: 0%;

}
.progress-prenchimento1{
  animation: fill-skill 1.5s forwards;
}
.progress-prenchimento2{
  animation: fill-skill1 1.5s forwards;
}

.progress-prenchimento3{
  animation: fill-skill2 1.5s forwards;
}

.progress-prenchimento4{
  animation: fill-skill3 1.5s forwards;
}
.progress-prenchimento5{
  animation: fill-skill4 1.5s forwards;
}
.progress-prenchimento6{
  animation: fill-skill5 1.5s forwards;
}
.progress-prenchimento7{
  animation: fill-skill6 1.5s forwards;
}

@keyframes fill-skill {
  0% { width: 0%; 
  }
  100% { width: 96%; 
  }
}
@keyframes fill-skill1 {
  0% { width: 0%; 
  }
  100% { width: 91%; 
  }
}

@keyframes fill-skill2 {
  0% { width: 0%; 
  }
  100% { width: 79%; 
  }
}

@keyframes fill-skill3 {
  0% { width: 0%; 
  }
  100% { width: 70%; 
  }
}
@keyframes fill-skill4 {
  0% { width: 0%; 
  }
  100% { width: 9%; 
  }
}
@keyframes fill-skill5 {
  0% { width: 0%; 
  }
  100% { width: 50%; 
  }
}

@keyframes fill-skill6 {
  0% { width: 0%; 
  }
  100% { width: 1%; 
  }
}


canvas{
  border-color: 4px solid var(--main-color);
}

